:root {
  --backgroundOne: #fff;
  --backgroundTwo: #f8f8f8;
  --h1h2h3Color: #303030;
  --pColor: #5f5f5f;
  --orange: #eb5424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 clamp(1vw, 10vw, 10vw);
}

.section:not(#contact) {
  min-height: 100%;
  padding-top: min(80px, 15vh);
}

h1,
h2,
h3 {
  color: var(--h1h2h3Color);
}

p {
  color: var(--pColor);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* NAVIGATION BAR */

.defaultNavBar {
  position: fixed;
  background-color: white;
  height: fit-content;
  min-height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-out;
  padding: 15px;
}

nav ul {
  display: flex;
}

nav ul li {
  text-align: center;
  padding: 0 10px;
}

nav ul li a {
  color: var(--h1h2h3Color);
  font-weight: 500;
}

nav ul li a:hover {
  color: var(--orange);
  font-weight: 600;
}

nav ul li a.active {
  color: var(--orange);
  font-weight: 600;
}

/* NAVIGATION BAR HAMBURGER */

.mobileMenu {
  width: 100%;
  max-height: 45px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  box-shadow: 0 -10px 10px #808080;
  transition: 1s;
}

.mobileMenu.is-active {
  max-height: 30vh;
  transition: 1s;
}

.hamburger {
  width: 25px;
  bottom: 0;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  margin: 5px 0;
  transition: 1s;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-5px, -6px);
}

.mobileNavBar {
  width: fit-content;
  transition: 1s;
  margin-top: 15px;
}

.mobileNavBar ul {
  flex-direction: column;
  align-items: center;
}

.mobileNavBar ul li {
  width: fit-content;
  margin-bottom: 10px;
}

.mobileNavBar a {
  color: var(--h1h2h3Color);
  width: 100%;
}

/* END NAVIGATION BAR HAMBURGER */

/* END NAVIGATION BAR */

/* HOME */

#home {
  background: url(images/home-bg.jpg) no-repeat fixed center;
  background-size: cover;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(80vw, 70%);
  text-align: center;
}

#intro h1 {
  color: #5f5f5f;
  font-size: clamp(1rem, 4vw, 3.75rem);
}

#intro h2 {
  color: var(--orange);
  font-size: clamp(1rem, 3vw, 1.85rem);
}

#intro p {
  color: #5f5f5f;
  font-size: 1rem;
  margin-top: 25px;
}

#intro > a {
  background-color: var(--orange);
  color: white;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: bold;
  margin-top: 25px;
  transition: background-color 0.5s;
}

#intro > a:hover {
  background-color: white;
  color: var(--orange);
  transition: all 0.5s;
}

#icons i {
  color: #5f5f5f;
  font-size: 35px;
  margin: 25px 10px 10px 10px;
  transition: color 0.5s;
}

#icons i:hover {
  color: var(--orange);
  transition: color 0.5s;
}

/* END HOME */

/* ABOUT ME */

#aboutMe {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: min-content;
  align-content: center;
  align-items: flex-start;
  padding-top: 65px;
}

#aboutMe h1 {
  font-size: clamp(1rem, 4vw, 3.75rem);
  font-weight: 300;
  margin-bottom: 50px;
}

/* PROFILE */

.profileInfo {
  margin-bottom: 20px;
}

.profileInfo h2 {
  font-size: clamp(1rem, 3vw, 1.56rem);
}

.profileInfo p {
  padding: 5px 0 0 2px;
  font-size: clamp (1rem, 2vw, 1.25rem);
}

/* END PROFILE */

/* SKILLS */

.skillBar {
  margin-bottom: 20px;
}

.skillBar h2 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.skillBar .progress-line {
  height: 8px;
  width: 100%;
  background-color: #c2c2c2;
  border-radius: 10px;
  position: relative;
  z-index: -1;
}

.skillBar .progress-line span {
  height: 100%;
  background-color: var(--orange);
  position: absolute;
  border-radius: 10px;
}

@keyframes progress-animation-85 {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes progress-animation-75 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes progress-animation-70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress-animation-65 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

/* END SKILLS */

/* DOWNLOEAD CV */

#downloadCV {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#downloadCV a {
  color: var(--h1Color);
  border: 2px solid #303030;
  border-radius: 2px;
  padding: 25px 50px 25px 50px;
  font-weight: bold;
  font-size: 1rem;
}

#downloadCV a:hover {
  background-color: var(--h1Color);
  color: white;
  transition: all 0.5s;
}

/* END DOWNLOAD CV */

/* END ABOUT ME */

/* RESUME */

/* MY PROFESSIONAL EXPERIENCES */

#workExperiences {
  flex-direction: column;
  text-align: center;
  background-color: var(--backgroundTwo);
}

#workExperiences h1 {
  font-size: clamp(1rem, 4vw, 3.75rem);
  font-weight: 300;
  margin-bottom: 50px;
}

#works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.work {
  align-self: center;
  border: 1px solid #303030;
  padding: 60px 30px;
}

.work:hover {
  border: 1px solid var(--orange);
  font-weight: bold;
}

.work img {
  height: 50px;
}

.work h2 {
  color: var(--orange);
  margin: 25px 0 50px 0;
  font-size: 1rem;
}

/* END MY PROFESSIONAL EXPERIENCES */

/* MY DIPLOMAS */

#myDiplomas {
  flex-direction: column;
}

#myDiplomas h1 {
  font-size: clamp(1rem, 4vw, 3.75rem);
  font-weight: 300;
  margin-bottom: 50px;
}

.diplomas {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 30% 10% 60%;
}

.diplomas div:nth-child(1) h3 {
  font-size: clamp(1rem, 2vw, 1.55rem);
  padding-bottom: 10px;
}

.diplomas div:nth-child(1) p {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.diplomas div:nth-child(2) {
  text-align: center;
}

.diplomas div:nth-child(2) span {
  display: flex;
  height: 120%;
  width: 2px;
  margin: auto;
  background-color: #d8d8d8;
}

.diplomas #lastSpan {
  height: 100%;
}

.diplomas div:nth-child(2) i {
  background-color: var(--h1h2h3Color);
  border-radius: 50%;
  color: white;
  padding: 15px;
  font-size: clamp(1rem, 2vw, 1.55rem);
}

.diplomas div:nth-child(3) h3 {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.diplomas div:nth-child(3) span {
  display: flex;
  height: 3px;
  width: 50px;
  background-color: var(--orange);
  margin: 20px 0 20px 0;
}

/* END MY DIPLOMAS */

/* END RESUME */

/* CONTACT */

#contact {
  height: auto;
  background-color: var(--backgroundTwo);
  text-align: center;
}

.contactMe {
  margin: 50px 20px;
}

.contactMe a {
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: var(--h1h2h3Color);
}

.contactMe a:hover {
  color: var(--orange) !important;
}

.contactMe a i {
  padding-bottom: 5px;
  font-size: 2.18rem;
}

.contactMe a div {
  padding: 5px 0;
  font-weight: 400;
}

/* END CONTACT */

/* FOOTER */

footer {
  background-color: var(--backgroundTwo);
  text-align: center;
  padding-bottom: 20px;
}

footer p {
  color: var(--h1h2h3Color);
  font-weight: 400;
  font-size: 1rem;
}

footer a {
  color: var(--h1h2h3Color);
  font-weight: 700;
  font-size: 1rem;
}

footer a:hover {
  color: var(--orange);
}
/* END FOOTER */

@media only screen and (max-width: 915px) {
  #works {
    display: block;
  }

  .work {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .defaultNavBar ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .diplomas {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .diplomas div:nth-child(2) {
    order: -1;
    margin-bottom: 20px;
  }

  .diplomas div:nth-child(2) span {
    display: none;
  }

  .diplomas div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .diplomas div:nth-child(3) span {
    margin: 5px 0;
  }

  #contact {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .contactMe {
    margin: 25px 0;
  }
}

@media only screen and (max-width: 500px) {
  .defaultNavBar {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }

  #aboutMe {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #aboutMe h1 {
    margin-bottom: 25px;
  }

  .profileInfo {
    margin: 0 0 15px 0;
  }

  .skillBar {
    margin: 0 0 15px 0;
  }

  #aboutMe > div {
    margin: 0 0 30px 0;
  }

  .skillBar .progress-line span {
    display: flex;
  }

  footer {
    padding-bottom: 60px;
  }
}
